* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 100px;
  font-weight: 900;
  color: #000000DE;
}

.bar {
  height: 100px;
  width: 90vw;
  max-width: 100%;
  position: relative;
  margin: 100px 0;
  background: #F9F9F9;
  border-radius: 50px;
}
.bar::before {
  content: "";
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50px;
  background-color: #E5E5E5;
  animation: move 2s ease-in forwards;
}
.bar .progress {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100px;
  min-width: 0px;
  width: 5.71%;
  max-width: 100%;
  background-color: #1561A4;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFFDE;
  z-index: 5;
}

.card {
  width: 230px;
  margin-bottom: 40px;
  padding: 15px;
  background: white;
  border: none;
  box-shadow: 0px 3px 6px #2B6F8191;
  border-radius: 10px;
}
.card .title {
  color: #000000DE;
  text-align: center;
  margin-bottom: 24px;
}
.card .items {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  color: #23252f;
  margin-bottom: 4px;
}
.card .items .qtd, .card .items .vlr {
  font-weight: normal;
  margin-left: auto;
}

.ball {
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  margin-right: 4px;
}
.ball.blue {
  background: #3A54FF;
}

@keyframes move {
  from {
    width: 100px;
  }
  to {
    width: 70%;
  }
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin:auto;
}

img{
  display: flex;
  margin: 0 auto 32px;
  width: 300px;
}

input{
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 0px 18px;
  align-items: center;
  border: 1px solid #f6f6f6;
  border-radius: 22px;
  margin-bottom: 8px;
  background-color: white;
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  height: 40px;
  width: 300px;
}
input::placeholder{
  color: #f6f6f6;
}
input:focus {
  outline:0;
  box-shadow: none;
}
input:disabled{
  background-color: transparent;
  color: #f6f6f6;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}
button{
  display: flex;
  justify-content: center;
  margin: 16px auto;
  height: 40px;
  width: 150px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: #404040;
  border-radius: 22px;
  cursor: pointer;
}

button:hover{
  background-color: #2c2c2c;
}

a{
  font-size: 14px;
  font-weight: 600;
  color: #404040;
  text-decoration: none;
}
a:hover{
  color: #2c2c2c;
}
